[submodule "evmone"]
	path = third_party/evmone
	url = https://github.com/erigontech/zevmone.git
	branch = hyper1
[submodule "intx"]
	path = third_party/intx
	url = https://github.com/somnergy/intx.git
	branch = som/airbender-bigint-secp
